/*CardDetails - Componente principal*/
.CardDetails {
    display: flex;
    flex-direction: row;
    gap: 2em;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    margin-top: 3.5em;
    padding: 2em 6em;
    
}
.Image{
    flex: 1 1 50%;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--app-border);
    text-align: center;
    border-radius: 1em;
    padding: 2em;
    background-color: var(--app-background-card);
}
.Image img{
    width: 100%;
    max-width: 300px;
    height: auto;
}
.Details {
    flex: 1 1 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
}
@media (max-width: 852px) {
    .CardDetails {
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 1em;
    }

    .Image,
    .Details {
        flex: 1 1 100%;
        max-width: 100%;
        width: 100%;
    }
}
.BtnSelected {
    background-color: var(--app-background-opacity);
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
}
.ContainerActions {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.BtnNormalActionStorage {
    width: fit-content;
}
.BtnNormalActionColor {
    width: fit-content;
    border-radius: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}
.ContainerBtnActions {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}
.CircleColor {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid var(--app-border);
}